.wrapper {
  height: 300px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  text-align: center; }

.content {
  height: 1000px;
  width: 2000px;
  position: absolute;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-size: 15px;
  color: #ffffff;
  margin: 0px 0 0 -1000px;
  left: 50%; }

.header {
  height: 9%;
  color: #999;
  background-color: #fff;
  font-size: 22px;
  padding-top: 50px; }

.main {
  padding-top: 50px;
  height: 22%;
  position: relative; }

.results {
  height: 10%;
  font-size: 30px; }

.counters {
  height: 58%; }

.counters, .results, .main {
  background-color: #f06060; }

.buttons img {
  width: 50px;
  height: 50px;
  margin: 15px; }

a.buttons {
  display: inline-block;
  margin: 20px;
  padding: 10px 15px;
  border-radius: 50%;
  border: 4px solid #fff; }
  a.buttons:hover {
    transform: scale(1.1); }
